<% keys = [ :rss, :vsize, :count, :total_allocated_object, :heap_used ] %>
<table width="100%">
  <tr>
    <th>Controller Action</th>
    <th>num</th>
    <% keys.each do |key| %>
      <th><%= key %></th>
    <% end %>
  </tr>
  <% @data.each do |controller, action, stats| %>
    <% num = stats[:num] %>
    <tr>
      <td><%= "#{controller}##{action}" %></td>
      <td><%= num %></td>
      <% keys.each do |key| %>
        <td><%= '%.3f' % (stats[:gcstat][key].to_f/num) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
