<table width="100%">
  <tr>
    <th>Controller Action</th>
    <th>Calls</th>
  </tr>
  <% @data.each do |controller, action, stats| %>
    <% num = stats[:num] %>
    <tr>
      <td><%= "#{controller}##{action}" %></td>
      <td><%= num %></td>
      <td><%= stats[:gcstat].inspect %></td>
    </tr>
  <% end %>
</table>

<br/>
